{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>Rantools</title>
  </head>
  <body>
    <aside>
      <div class="logo-block">
        <img src="{% static 'img/logo.jpg' %}" alt="Logo">
        <span class="logo">Rantools</span>
      </div>
      <ul>
        <a href="{% url 'sites_count' %}"><li><i class="fas fa-calculator"></i> Sites Count</li></a>
        <a href="{% url 'network_vs_atoll' %}"><li><i class="fas fa-not-equal"></i> Network-vs-Atoll</li></a>
      </ul>
    </aside>

    <main>
      <div class="main-part">
        {% block content %}{% endblock content %}
      </div>
    </main>

  </body>
</html>